<form action="/user/signup" method="post" autocomplete="off">

    <br>
    <br>
    <div class="row">
        <div class="four columns">
            <label for="username">Username</label>
            <input type="text" class="u-full-width" placeholder="Username" name="username" id="username">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="four columns">
            <label for="email">Email ID</label>
            <input type="email" class="u-full-width" placeholder="email" name="email" id="email">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="four columns">
            <label for="password">Password</label>
            <input type="password" class="u-full-width" placeholder="Password" name="password" id="password">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="four columns">
            <input class="button-primary" type="submit" value="Signup"> or
            <a class="button-primary" href="/user/signin">Signin</a>
        </div>
    </div>
</form>